<div class="pre-publish-dialog modal-overlay" style="display: none;">
  <div class="thimble-modal-menu thimble-publish-header">
    <div class="thimble-branding"></div>
    <div class="thimble-menu-content">
      <form>
        <fieldset>
          <label>URL</label>
          <input name="url">
        </fieldset>
        <fieldset>
          <label>Title</label>
          <input name="title">
        </fieldset>
        <fieldset>
          <label>Description</label>
          <textarea name="description">This thimble project rules</textarea>
        </fieldset>
        <fieldset>
          <label>Tags</label>
          <input name="tags" value="#thimble">
        </fieldset>
        <fieldset>
          <label>Thumbnail</label>
          <input name="thumbnail">
        </fieldset>
        <fieldset>
          <input type="submit" name="publish" value="Publish">
        </fieldset>
      </form>
    </div>
  </div>
</div>
